body {
    background-color: #333333;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

table {
    border-collapse: collapse;
    border-color: #262626;
    width: 100%;
    border-radius: 5px;
}

input {
    border: 1px solid #262626;
    background-color: #cccccc;
    height: 25px;
    min-width: 225px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

th, td {
    border: 1px solid #262626;
    padding: 8px;
    text-align: left;
    min-width: 310px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #666666;
}

tr:nth-child(odd) {
    background-color: #808080;
}

a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

.header {
    background-color: black;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

/* CSS for the website name */
.site-name {
    font-size: 30px;
    margin-right: 15px;
    float: left;
}

.link {
    font-size: 20px;
    color: #cccccc;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.table-button-container {
    /* display: flex; */
    align-items: center;
}

.table-button {
    background-color: #00264d;
    color: #fff;
    border: none;
    padding: 5px 5px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
}

.table-button:hover {
    background-color: #0056b3;
}

.table-button:active {
    background-color: #003166;
}