body {
    background-color: #333333;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #595959;
    width: 15%;
    text-align: center;
    padding: 20px;
    border: 5px solid #262626;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 35px;
}

input[type="text"],
input[type="password"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #cccccc;
    border: 1px solid #262626;
}

button {
    background-color: #00264d;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003166;
}

.error {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    align-content: center;
    text-align: center;
    padding: 5px;
}
