version: '1.3'
services:
  log-viewer:
    image: gibson/log-viewer:1.3
    build: ./log-viewer
    hostname: log-viewer
    container_name: log-viewer
    depends_on:
      - redis
    environment:
      MONGODB_DATABASE: log_viewer_db
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: example
      MONGODB_HOSTNAME: mongodb
    ports:
      - "8443:8443"
    networks:
      log-view-net:
        ipv4_address: 192.168.1.2
  redis:
    image: redis
    hostname: redis
    container_name: log-viewer-redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.3
  mongo:
    image: mongo
    hostname: mongodb
    container_name: log-viewer-mongodb
    command: mongod --auth
    volumes:
      - ./mongodb/data:/data/db
    depends_on:
      - redis
      - log-viewer
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: log_viewer_db
      MONGO_DATA_DIR: /data/db
      MONGO_LOG_DIR: /dev/null
    networks:
      log-view-net:
        ipv4_address: 192.168.1.6
  log-source1:
    image: gibson/log-source2
    build: ./log-source2
    hostname: edp-provision
    container_name: log-viewer-source1
    depends_on:
      - log-viewer
      - redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.4
  log-source2:
    image: gibson/log-source2
    build: ./log-source2
    hostname: sar-skyflower
    container_name: log-viewer-source2
    depends_on:
      - log-viewer
      - redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.5
networks:
  log-view-net:
    name: log-view-net
    ipam:
      config:
        - subnet: "192.168.1.0/24"