version: '1.1'
services:
  log-viewer:
    image: gibson/log-viewer:1.1
    build: ./log-viewer
    hostname: log-viewer
    ports:
      - "8000:8000"
    networks:
      log-view-net:
        ipv4_address: 192.168.1.2
  redis:
    image: redis
    hostname: redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.3

networks:
  log-view-net:
    name: log-view-net
    ipam:
      config:
        - subnet: "192.168.1.0/24"