version: '1.3'
services:
  log-viewer:
    image: gibson/log-viewer:1.3
    build: ./log-viewer
    hostname: log-viewer
    depends_on:
      - redis
    ports:
      - "8443:8443"
    networks:
      log-view-net:
        ipv4_address: 192.168.1.2
  redis:
    image: redis
    hostname: redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.3
  log-source1:
    image: gibson/log-source2
    build: ./log-source2
    hostname: edp-provision
    depends_on:
      - log-viewer
      - redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.4
  log-source2:
    image: gibson/log-source2
    build: ./log-source2
    hostname: sar-skyflower
    depends_on:
      - log-viewer
      - redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.5
networks:
  log-view-net:
    name: log-view-net
    ipam:
      config:
        - subnet: "192.168.1.0/24"