version: '1.2'
services:
  log-viewer:
    image: gibson/log-viewer:1.2
    build: ./log-viewer
    hostname: log-viewer
    ports:
      - "8000:8000"
    networks:
      log-view-net:
        ipv4_address: 192.168.1.2
  redis:
    image: redis
    hostname: redis
    networks:
      log-view-net:
        ipv4_address: 192.168.1.3
  log-source1:
    image: gibson/log-source1
    build: ./log-source1
    hostname: edp
    networks:
      log-view-net:
        ipv4_address: 192.168.1.4
  log-source2:
    image: gibson/log-source1
    build: ./log-source1
    hostname: sar
    networks:
      log-view-net:
        ipv4_address: 192.168.1.5
networks:
  log-view-net:
    name: log-view-net
    ipam:
      config:
        - subnet: "192.168.1.0/24"