annotated-types 
async-timeout
blinker
click
dnspython
Flask
Flask-SSE
Flask-WTF
gevent
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
packaging
pydantic
pydantic_core 
pymongo
redis
six
typing_extensions
Werkzeug
WTForms
zope.event
zope.interface
