version: '1.0'
services:
  vision:
    image: vision:test
    build: ./vision
    hostname: vision
    container_name: vision
    depends_on:
      - redis
    environment:
      MONGODB_DATABASE: vision_db
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: e61ddc9534f8efd85b6cd91a661fef9f
      MONGODB_HOSTNAME: mongodb
    ports:
      - "7443:7443"
    networks:
      vision-net:
        ipv4_address: 192.168.1.2
  redis:
    image: redis:alpine
    hostname: redis
    container_name: vision-redis
    networks:
      vision-net:
        ipv4_address: 192.168.1.3
  mongo:
    image: mongo
    hostname: mongodb
    container_name: vision-mongodb
    command: mongod --auth
    volumes:
      - vision_vol:/data/db
    depends_on:
      - redis
      - vision
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: e61ddc9534f8efd85b6cd91a661fef9f
      MONGO_INITDB_DATABASE: vision_db
      MONGO_DATA_DIR: /data/db
      MONGO_LOG_DIR: /dev/null
    networks:
      vision-net:
        ipv4_address: 192.168.1.6
  log-source1:
    image: log-source
    build: ./log-source
    hostname: edp
    container_name: log-source1
    depends_on:
      - vision
      - redis
    networks:
      vision-net:
        ipv4_address: 192.168.1.4
  log-source2:
    image: log-source
    build: ./log-source
    hostname: sar
    container_name: log-source2
    depends_on:
      - vision
      - redis
    networks:
      vision-net:
        ipv4_address: 192.168.1.5
networks:
  vision-net:
    name: vision-net
    ipam:
      config:
        - subnet: "192.168.1.0/24"
volumes:
  vision_vol:
    external: false