<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log Viewer</title>
  <link rel="stylesheet" href="static/index.css">
  <script src="static/index.js"></script>
</head>
<body>
  <form action="javascript:;" onsubmit="addSource(this)">
    <label for="sources">Add a Source: </label>
    <select name="sources" id="sources">
      <option value='NONE'></option>
      {% for source in logsources %}
      {% for containerid in source.containerIds %}
      <option value='{"Name":"{{ source.displayname }}","ContainerId":"{{ containerid }}"}'>{{ source.displayname }}:{{ containerid }}</option>
      {% endfor %}
      {% endfor %}
      <option value='{"Name":"EDP","Path":"/var/log/edp/edp_provision.log","id":"edp-provision"}'>EDP</option>
      <option value='{"Name":"SAR","Path":"/root/docker_artifacts/skyflower.log","id":"sar-skyflower"}'>SAR</option>
      <option value='{"Name":"OTHER","Path":"none","id":"other"}'>OTHER</option>
    </select>
    <input type="submit" value="Add">
    <label for="fontsize">Font Size: </label>
    <select name="fontsize" id="fontsize" onchange="changeFontSize(this.value)">
      <option value="15px">15</option>
      <option value="16px">16</option>
      <option value="17px">17</option>
      <option value="18px">18</option>
      <option value="19px" selected>19</option>
      <option value="20px">20</option>
      <option value="21px">21</option>
      <option value="22px">22</option>
      <option value="23px">23</option>
    </select>
  </form>
  <div id="data-container" class="data-container">
    <div class="data-container-header">LOG VIEWER</div>
    <div id="edp-container" class="grid-item">
      <div class="grid-item-header">
        <div class="grid-item-header-title">EDP:/var/log/edp/edp_provision.log</div>
        <div class="grid-item-header-checkbox-container">
          <label for="checkbox" class="grid-item-header-checkbox-label">Follow</label>
          <input type="checkbox" class="grid-item-header-checkbox">
        </div>
        <div class="grid-item-header-button-container">
          <button onClick="clearTextarea(this)" class="grid-item-header-button">Clear</button>
          <button class="grid-item-header-button">Download</button>
          <button onClick="removeSource(this)" class="grid-item-header-button">Remove</button>
          <button onClick="toggleHide(this)" class="grid-item-header-button" style="display:block;">-</button>
        </div>
      </div>
      <textarea id="edp-provision" class="grid-item-body" cols="80" rows="50" readonly="true" wrap="true"></textarea>
    </div>
    <div id="sar-container" class="grid-item">
      <div class="grid-item-header">
        <div class="grid-item-header-title">SAR:/root/docker_artifacts/skyflower.log</div>
        <div class="grid-item-header-checkbox-container">
          <label for="checkbox" class="grid-item-header-checkbox-label">Follow</label>
          <input type="checkbox" class="grid-item-header-checkbox">
        </div>
        <div class="grid-item-header-button-container">
          <button onClick="clearTextarea(this)" class="grid-item-header-button">Clear</button>
          <button class="grid-item-header-button">Download</button>
          <button onClick="removeSource(this)" class="grid-item-header-button">Remove</button>
          <button onClick="toggleHide(this)" class="grid-item-header-button" style="display:block;">-</button>
        </div>
      </div>
      <textarea id="sar-skyflower" class="grid-item-body" cols="80" rows="50" readonly="true" wrap="true"></textarea>
    </div>
  </div>
</body>
</html>