<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vision - Archivist</title>
  <link rel="stylesheet" href="/static/archivist.css">
  <script src="/static/archivist.js"></script>
</head>

<body>
  {% for source in logsources %}
  <form id="{{ source.displayname }}-form" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
  {% endfor %}
  <div id="data-container" class="data-container">
    <div class="data-container-header">
      <div class="left-section">
        <a href="/">
          <div class="site-name">VISION</div>
        </a>
        <a href="/sources">
          <div class="link">Sources</div>
        </a>
        <a href="/archivist">
          <div class="link">Archivist</div>
        </a>
      </div>
      <form action="javascript:;" onsubmit="addArchivistSourceForm(this)">
        <label for="sources">Add a Source: </label>
        <select name="sources" id="sources" onchange="null">
          <option value='NONE'></option>
          {% for source in logsources %}
          <option value="{{ source.displayname }}">{{ source.displayname }}</option>
          {% endfor %}
        </select>
        <input class="add-source" type="submit" value="Add">
        <label for="fontsize">Font Size: </label>
        <select name="fontsize" id="fontsize" onchange="changeFontSize(this.value)">
          <option value="15px">15</option>
          <option value="16px">16</option>
          <option value="17px">17</option>
          <option value="18px">18</option>
          <option value="19px" selected>19</option>
          <option value="20px">20</option>
          <option value="21px">21</option>
          <option value="22px">22</option>
          <option value="23px">23</option>
        </select>
      </form>
    </div>
    {% for source in sources_and_files %}
    <div id="{{ source.displayname }}-source-search-bar" class="source-search-bar">
      {{ source.displayname }}
      <div class="left-section">
        <label class="source-search-bar-radio" for="basic_search">
          Basic
          <input form="{{ source.displayname }}-form" type="radio" id="basic_search">
        </label>
        <label class="source-search-bar-radio" for="regex_search">
          RegEx
          <input form="{{ source.displayname }}-form" type="radio" id="regex_search">
        </label>
        <input form="{{ source.displayname }}-form" type="text" onkeyup="filterList('{{ source.displayname }}-table-body',this.value)">
        <input form="{{ source.displayname }}-form" type="text">
        <button class="grid-item-header-button">Search</button>
        <button onClick="removeSource('{{ source.displayname }}-container')"
          class="grid-item-header-button">Remove</button>
      </div>
    </div>
    <table id="{{ source.displayname }}-table" class="scrolldown">
      <thead>
        <tr>
          <th>
            <input form="{{ source.displayname }}-form" type="checkbox" name="selection" class="selection-box">
          </th>
          <th>File Name</th>
          <th>File Size</th>
        </tr>
      </thead>
      <tbody id="{{ source.displayname }}-table-body">
        {% for file in source.files %}
        <tr id="{{ file.file_name }}">
          <td id="{{ file.file_name }}-selection">
            <input form="{{ source.displayname }}-form" type="checkbox" name="selection" class="selection-box">
          </td>
          <td id="{{ file.file_name }}">{{ file.file_name }}</td>
          <td id="{{ file.file_name }}-filesize">{{ file.file_size }} bytes</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="{{ source.displayname }}-container" class="grid-item">
      <div class="grid-item-header">
        <div class="grid-item-header-title">{{ source.displayname }}</div>
        <div class="grid-item-header-checkbox-container">
          <label for="checkbox" class="grid-item-header-checkbox-label">Follow</label>
          <input id="{{ source.displayname }}-checkbox" type="checkbox" class="grid-item-header-checkbox">
        </div>
        <div class="grid-item-header-button-container">
          <button onClick="clearTextarea('{{ source.displayname }}-textarea')" class="grid-item-header-button">Clear</button>
          <button onClick="downloadText('{{ source.displayname }}-textarea')" class="grid-item-header-button">Download</button>
        </div>
      </div>
      <textarea id="{{ source.displayname }}-textarea" class="grid-item-body" cols="80" rows="50" readonly="true"
        wrap="true"></textarea>
    </div>
    {% endfor %}
  </div>
</body>

</html>