<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log Viewer</title>
  <link rel="stylesheet" href="static/index.css">
  <script src="static/index.js"></script>
</head>
<body>
  <div id="data-container" class="data-container">
    <div class="data-container-header">
      <div class="left-section">
        <a href="/"><div class="site-name">VISION</div></a>
        <a href="/sources"><div class="link">Sources</div></a>
      </div>
      <form action="javascript:;" onsubmit="addSourceForm(this)">
        <label for="sources">Add a Source: </label>
        <select name="sources" id="sources">
          <option value='NONE'></option>
          {% for source in logsources %}
          {% for containerid in source.containerIds %}
          <option value='{"Name":"{{ source.displayname }}","ContainerId":"{{ containerid }}"}'>{{ source.displayname }}:{{ containerid }}</option>
          {% endfor %}
          {% endfor %}
        </select>
        <input class="add-source" type="submit" value="Add">
        <label for="fontsize">Font Size: </label>
        <select name="fontsize" id="fontsize" onchange="changeFontSize(this.value)">
          <option value="15px">15</option>
          <option value="16px">16</option>
          <option value="17px">17</option>
          <option value="18px">18</option>
          <option value="19px" selected>19</option>
          <option value="20px">20</option>
          <option value="21px">21</option>
          <option value="22px">22</option>
          <option value="23px">23</option>
        </select>
      </form>
    </div>
  </div>
</body>
</html>