<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
    <title>Vision - Login</title>
</head>

<body>
    <div class="container">
        <form id="login-form" method="POST">
            <h1>VISION</h1>
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button id="login-button" type="submit">LOGIN</button>
        </form>
        {% if error %}
        <p class="error">Login Failed!</p>
        {% endif %}
    </div>
</body>

</html>